CLOUDINARY_API_SECRET=your-cloudinary-api-secret
NEXT_PUBLIC_CLOUDINARY_API_KEY=your-cloudinary-api-key
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your-cloudinary-upload-preset
NEXT_PUBLIC_CLOUDINARY_URL=cloudinary://your-cloudinary-api-key:your-cloudinary-api-secret@your-cloudinary-cloud-name
NEXT_PUBLIC_FIBER_URL=http://localhost:8080
NEXT_PUBLIC_FIBER_WEBSOCKET_URL=ws://localhost:8080
NEXT_PUBLIC_IMGBB_API_KEY=your-imgbb-api-key
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
PORT=9000
NEXT_PUBLIC_CXGENIE_WIDGET_URL=https://widget.cxgenie.ai/widget.js
NEXT_PUBLIC_CXGENIE_DATA_AID=your-cxgenie-agent-id